/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font-family: 'Open-Sans', sans-serif;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*
FEA83B orange
6066F2 lightblue
B286F8 purple
4C44C1 blue
E6CDF9 light purple
570606 red
*/

/*The main code */

/* the header logo and menu */



header {
  padding: 30px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 50px;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

header a {
  color: #792022;
  text-decoration: none;
  margin-right: 10px;
}

header .logo {
  display: inline block;
  float: left;
  margin-right: 40px;
}

header .logo img {
  width: 50px;
}

header .menu {
  display: inline block;
  float: left;
  position: relative;
  top: 8px;
}

header .menu a{
  text-transform: uppercase;
}

header .header-buttons {
  display: inline block;
  float: right;
}

/* the header buttons */

header .header-buttons .blue-btn {
  background: #792022;
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  position: relative;
  top: 10px;
  -webkit-box-shadow: 11px 17px 17px -7px rgba(0,0,0,0.3);
  -moz-box-shadow: 11px 17px 17px -7px rgba(0,0,0,0.3);
  box-shadow: 11px 17px 17px -7px rgba(0,0,0,0.3);
}

header .header-buttons .blue-btn .fa-shopping-bag {
  margin-left: 15px;
}

header .header-buttons .orange-btn {
  background: white;
  color: #792022;
  padding: 8px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  position: relative;
  top: 10px;
  -webkit-box-shadow: 11px 17px 17px -7px rgba(0,0,0,0.3);
  -moz-box-shadow: 11px 17px 17px -7px rgba(0,0,0,0.3);
   box-shadow: 11px 17px 17px -7px rgba(0,0,0,0.3);
}

#top-jumbo {
  padding: 0 0 400px;
 
}

#top-jumbo:after {
  content: "";
  display: table;
  clear: both;
}

#top-jumbo .left-side {
  display: inline-block;
  width: 35%;
  float: left;
}

#top-jumbo .left-side .large-number {
  font-size: 110px;
  width: 800px;
  font-weight: 700;
  font-family:  "Cedarville Cursive", cursive;
  opacity: 0.1;
  color: rgb(251, 47, 47);
  position: relative;
  left: -20px;
  z-index: 1;
  top: 40px;
}

#top-jumbo .left-side  .info-container {
  position: relative;
  top: -25px;
}

#top-jumbo .left-side  .info-container p {
  font-size: 1.3rem;
  line-height: 1.3;
  color: #792022;  
}

#top-jumbo .left-side  .info-container .email-area .fa-envelope-o {
  font-size: 2rem;
  position: relative;
  top: 3.5px;
  margin-left: 2px;
}

#top-jumbo .left-side  .info-container .email-area input[type="email"]{
  background: white;
  padding: 10px;
  border-radius: 35px;
  border: none;
  width: 150px;
}

#top-jumbo .left-side  .info-container .email-area {
  background: white;
  border-radius: 35px;
  display: inline-block;
  padding: 10px;
  margin-top: 40px;
  -webkit-box-shadow: 11px 17px 17px -7px rgba(0,0,0,0.3);
  -moz-box-shadow: 11px 17px 17px -7px rgba(0,0,0,0.3);
  box-shadow: 11px 17px 17px -7px rgba(0,0,0,0.3);
}

#top-jumbo .left-side  .info-container .email-area button{
  background: #792022;
  color: white;
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 30px;
  border: none;
  -webkit-box-shadow: 11px 17px 17px -7px rgba(0,0,0,0.3);
  -moz-box-shadow: 11px 17px 17px -7px rgba(0,0,0,0.3);
  box-shadow: 11px 17px 17px -7px rgba(0,0,0,0.3);
}

#top-jumbo .left-side  .info-container h1{
  font-size: 3rem;
  line-height: 1.1;
  color: #792022;
  margin-bottom: 1.5rem;
}



#top-jumbo .right-side {
  display: inline-block;
  width: 65%;
  float: left;
}

#top-jumbo .right-side img {
  width: 100%;
  margin-left: 105px;
  
}

.container {
max-width: 1000px;
padding: 0 20px;
margin: 0 auto;
}




